{% extends "base/protected.html" %}
{% block title %}Favorites - BookShare{% endblock %}
{% block content %}
    <div class="mb-4"
         data-aos="fade-down"
         data-aos-easing="ease-in-sine"
         data-aos-duration="200">
        <h3 class="mb-1">My Favorites</h3>
        <p class="text-muted mb-0">Books you've added to your favorites and wishlist.</p>
    </div>
    <div class="row row-cols-1 row-cols-xl-4 row-cols-md-2 row-cols-lg-2 g-3">
        {% if books %}
            {% set card_context = "favorites" %}
            {% include 'books/_book_cards_compact.html' %}
        {% else %}
            <div class="col-12">
                <div class="alert alert-info text-center">No favorites yet. Browse books to add some!</div>
            </div>
        {% endif %}
    </div>
{% endblock %}
