{% extends "base/protected.html" %}

{% block title %}Borrowed Books - BookShare{% endblock %}

{% block content %}
<h2 class="h3 mb-4">Books I Am Borrowing</h2>
<!-- TODO: Add datatables instead of using html tables for better UI and usability -->
<div class="card shadow-sm">
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-hover align-middle mb-0 table-striped">
                <thead class="table-light">
                    <tr class="text-center">
                        <th>ID</th>
                        <th class="w-25">Book Title</th>
                        <th>Owner</th>
                        <th class="w-25">Exchange Info</th>
                        <th>Request Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for request in my_borrows %}
                    <tr class="text-center">
                        <td class="px-3 text-muted">#{{ request.id }}</td>
                        <td class="fw-bold" title="{{ request.book.title }}">
                            <a href="{{ url_for('books.detail', book_id=request.book_id) }}"
                                class="text-decoration-underline text-dark text-truncate d-inline-block w-100">
                                {{ request.book.title }}
                            </a>
                        </td>
                        <td>{{ request.book.owner.name }}</td>
                        <td>
                            {% if request.book.book_type == 'physical' %}
                            {% set msg_data = request.message|fromjson %}
                            <div class="small">
                                <strong>{{ request.proposed_date|format_date(tz=False) }}</strong> at {{
                                request.proposed_time|format_time }}<br>
                                <span class="text-muted small"><strong>Message from Owner: </strong> {{ msg_data.owner
                                    or 'No message.' }}</span>
                            </div>
                            {% else %}
                            <span class="badge bg-info-subtle text-dark border">Digital</span>
                            {% endif %}
                        </td>
                        <td>
                            <span class="badge 
                                bg-{% if request.status == 'pending' %}warning
                                {% elif request.status == 'accepted' %}info
                                {% elif request.status == 'suggested' %}primary
                                {% elif request.status == 'borrowed' %}success
                                {% elif request.status == 'rejected' %}danger
                                {% elif request.status == 'returned' %}secondary{% endif %} text-capitalize">{{
                                request.status }}</span>
                        </td>
                        <td>
                            {% if request.status in ('pending', 'accepted', 'borrowed', 'suggested') %}
                            <div class="btn-group btn-group-sm">
                                {% if request.book.book_type == 'digital' %}
                                <form action="{{ url_for('books.download', book_id=request.book_id) }}" method="GET"
                                    class="d-inline">
                                    <button class="btn btn-success" type="submit" {% if request.status !='borrowed'
                                        %}disabled{% endif %}>Download
                                    </button>
                                </form>
                                {% endif %}
                                <form action="{{ url_for('borrow.mark_returned', req_id=request.id) }}" method="POST"
                                    class="d-inline">
                                    <button class="btn btn-primary" type="submit" {% if not request.status=='borrowed'
                                        or request.book.book_type=='physical' %}disabled{% endif %}>
                                        Mark Returned</button>
                                </form>
                                {% if request.book.book_type == 'physical' and request.status == 'suggested' %}
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#suggestModal{{ request.id }}">
                                    Suggest
                                </button>
                                {% endif %}
                            </div>

                            {% if request.book.book_type == 'physical' and request.status == 'suggested' %}
                            <div class="modal modal-lg fade text-start" id="suggestModal{{ request.id }}" tabindex="-1"
                                aria-labelledby="suggestModalLabel{{ request.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form action="{{ url_for('borrow.suggest', req_id=request.id) }}" method="POST"
                                            id="suggestion">
                                            <div class="modal-header">
                                                <h5 class="modal-title fw-semibold"
                                                    id="suggestModalLabel{{ request.id }}">Meeting Details - Suggest
                                                    Alternative</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row row-cols-2">
                                                    <div class="mb-3">
                                                        <label class="form-label fw-bold">Proposed Date</label>
                                                        <input type="date" name="proposed_date" class="form-control"
                                                            value="{{ request.proposed_date }}"
                                                            min="{{ now.strftime('%Y-%m-%d') }}" required>
                                                        <div class="form-text">
                                                            When would you like to pick up the book?
                                                        </div>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label fw-bold">Proposed Time</label>
                                                        <input type="time" name="proposed_time" class="form-control"
                                                            value="{{ request.proposed_time }}" required>
                                                        <div class="form-text">
                                                            What time would you like to pick up the book?
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label fw-bold">Pickup Location</label>
                                                    <div class="input-group">
                                                        <input type="text" name="location" class="form-control"
                                                            value="{{ request.location }}" required>
                                                        <button class="input-group-text" type="button" tabindex="0"
                                                            data-bs-container="body" data-bs-toggle="popover"
                                                            data-bs-trigger="toggle" data-bs-placement="top"
                                                            title="Location Notes By Owner"
                                                            data-bs-content="{{ request.book.location_notes or 'Not specified by the owner.' }}">
                                                            <i class="bi bi-info-circle-fill"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label fw-bold">Your Message/Note to Owner</label>
                                                    <textarea name="message" class="form-control"
                                                        rows="3">{{ msg_data.borrower }}</textarea>
                                                </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <form action="{{ url_for('borrow.accept', req_id=request.id) }}" method="POST"
                                            class="d-inline" id="accept">
                                            <button type="submit" form="accept" class="btn btn-success">Accept</button>
                                        </form>
                                        <button type="submit" form="suggestion" class="btn btn-primary">Send
                                            Suggestion</button>
                                    </div>
                                </div>
                            </div>
        </div>
        {% endif %}
        {% else %}
        <span class="text-muted small">No Actions</span>
        {% endif %}
        </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6" class="text-center py-4 text-muted">You are not borrowing any books yet.</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>
</div>
{% endblock %}